// Variables
// ==========================================================================

// == Colors
//

$color-primary:            #444444 !default;
$color-secondary:          #63d1bb !default;

$text-color:               $color-primary !default;

$bg-body:                  #ffffff !default;

$link-color:               #000000 !default;
$link-color--hover:        rgba($link-color, 0.6) !default;
$link-color--active:       rgba($link-color, 0.3) !default;

// == Typography
//
$font-size:                2rem !default;
/* stylelint-disable */
$font-family--sans-serif:  "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family--serif:       Georgia, "Times New Roman", Times, serif;
$font-family--monospace:   "Courier New", Menlo, Monaco, Consolas, "Liberation Mono", monospace;
/* stylelint-enable */

$font-family:              $font-family--sans-serif !default;

// == Media queries breakpoints
//
$mobile:                   "only screen and (max-width: 767px)";
$tablet:                   "only screen and (min-width: 768px) and (max-width: 1149px)";
$desktop:                  "only screen and (min-width: 1150px)";

$retina2x:                  "(min-resolution: 1.5dppx)";

// mobile + tablet
$portable:                 "only screen and (max-width: 1149px)";

// tablet + desktop:  more than mobile
$tab-desk:                 "only screen and (min-width: 768px)";

// == Container sizes
//
$container--min:           320px !default;
$container--mid:           768px !default;
$container--max:           1150px !default;

// == Paddings and margins
//
$offset--mobile:           30px !default;
$offset--tablet:           50px !default;
$offset--desktop:          50px !default;

